* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  //   justify-content: center;
  gap: 2rem;
  .form-container {
    padding: 3rem 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
    .button-container {
      display: flex;
      gap: 1rem;
    }
    input {
      padding: 0.7em;
      width: 100%;
      margin-bottom: 3px;
    }
  }
}
table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

button {
  padding: 0.5em 1em;
}
